// custom variable values
$primary: #c29938;
$light: #fbf5e5;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';